Repository carbon-design-system/carbon-components-react, pull requests merged in 2018-05, with the labels that each got.

#817 feat(Search): make search buttons configurable
  src/components/Search/Search-story.js
  src/components/Search/Search-test.js
  src/components/Search/Search.js
  src/components/SearchFilterButton/SearchFilterButton-test.js
  src/components/SearchFilterButton/SearchFilterButton.js
  src/components/SearchFilterButton/index.js
  src/components/SearchLayoutButton/SearchLayoutButton-test.js
  src/components/SearchLayoutButton/SearchLayoutButton.js
  src/components/SearchLayoutButton/index.js
  src/index.js
Labels: one more review

#849 docs(OverflowMenu): more docs on floating mode
  src/components/OverflowMenu/OverflowMenu.js
Labels: one more review

#861 fix(DropdownV2): remove form-item class from base ListBox
  src/components/DropdownV2/__snapshots__/DropdownV2-test.js.snap
  src/components/ListBox/ListBox.js
  src/components/ListBox/__tests__/__snapshots__/ListBox-test.js.snap
  src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
Labels: one more review

#844 fix(PaginationV2): adjust spacing, resolves #778
  src/components/PaginationV2/PaginationV2-test.js
  src/components/PaginationV2/PaginationV2.js
Labels: merge conflict

#864 fix(search): add button to clear icon for a11y
  src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  src/components/Search/Search-test.js
  src/components/Search/Search.js
Labels: one more review

#872 fix: Pagination component's range and page text for no items
  src/components/Pagination/Pagination-test.js
  src/components/Pagination/Pagination.js
  src/components/PaginationV2/PaginationV2-test.js
  src/components/PaginationV2/PaginationV2.js
Labels: merge conflict

#883 feat(code-snippet): Add updated code snippet variations
  src/components/CodeSnippet/CodeSnippet-story.js
  src/components/CodeSnippet/CodeSnippet-test.js
  src/components/CodeSnippet/CodeSnippet.Skeleton.js
  src/components/CodeSnippet/CodeSnippet.js
  src/components/Copy/Copy-test.js
  src/components/Copy/Copy.js
  src/components/Copy/index.js
  src/index.js
  yarn.lock
Labels: ready for review

#927 fix(Search): make search icon description translatable
  src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  src/components/Search/Search.js
Labels: one more review

#926 fix(Tooltip): prevent aria-owns attribute being set unless the target really exists
  src/components/Tooltip/Tooltip.js
Labels: one more review
