Repository carbon-design-system/carbon-components-react, pull requests merged in 2018-08, with the labels that each got.

#1151 fix(a11y): Update label order for input fields to have the label first
  .yarn-offline-mirror/carbon-components-9.6.1.tgz
  .yarn-offline-mirror/carbon-icons-7.0.7.tgz
  package.json
  src/components/DatePickerInput/DatePickerInput.js
  src/components/NumberInput/NumberInput.js
  src/components/TextArea/TextArea.js
  src/components/TextInput/TextInput-story.js
  src/components/TextInput/TextInput.js
  src/components/TimePicker/TimePicker.js
  yarn.lock
Labels: one more review

#1139 feat(MultiSelect): Add invalid and invalidText props to show validation errors
  package.json
  src/components/ListBox/ListBox.js
  src/components/MultiSelect/MultiSelect-story.js
  src/components/MultiSelect/MultiSelect.js
Labels: one more review

#1169 fix(Icon): make icon descriptions configurable
  src/components/AccordionItem/AccordionItem.js
  src/components/RadioTile/RadioTile.js
  src/components/SearchFilterButton/SearchFilterButton.js
  src/components/SearchLayoutButton/SearchLayoutButton.js
  src/components/TableData/TableData.js
  src/components/TableHeader/TableHeader.js
  src/components/Tile/Tile.js
  src/components/ToolbarSearch/ToolbarSearch.js
Labels: one more review

#1190 Add prune config for Yarn in the offline mirror
  .travis.yml
  .yarn-offline-mirror/@storybook-addon-info-3.3.9.tgz
  .yarn-offline-mirror/@storybook-addon-knobs-3.4.7.tgz
  .yarn-offline-mirror/@storybook-components-3.4.7.tgz
  .yarn-offline-mirror/acorn-5.3.0.tgz
  .yarn-offline-mirror/carbon-components-9.1.16.tgz
  .yarn-offline-mirror/carbon-components-9.3.0.tgz
  .yarn-offline-mirror/carbon-icons-6.2.0.tgz
  .yarn-offline-mirror/classnames-2.2.5.tgz
  .yarn-offline-mirror/domutils-1.6.2.tgz
  .yarn-offline-mirror/extsprintf-1.4.0.tgz
  .yarn-offline-mirror/globals-11.1.0.tgz
  .yarn-offline-mirror/invariant-2.2.2.tgz
  .yarn-offline-mirror/jest-validate-22.1.2.tgz
  .yarn-offline-mirror/js-yaml-3.10.0.tgz
  .yarn-offline-mirror/minimist-0.0.10.tgz
  .yarn-offline-mirror/nan-2.8.0.tgz
  .yarn-offline-mirror/postcss-6.0.16.tgz
  .yarn-offline-mirror/pretty-format-22.1.0.tgz
  .yarn-offline-mirror/react-test-renderer-16.2.0.tgz
  .yarn-offline-mirror/rxjs-5.5.6.tgz
  .yarn-offline-mirror/supports-color-5.1.0.tgz
  .yarn-offline-mirror/supports-color-5.2.0.tgz
  .yarn-offline-mirror/uglify-es-3.3.7.tgz
  .yarnrc
Labels: one more review

#1177 fix(MultiSelect): IE11 and menu closing fix
  src/components/DropdownV2/__snapshots__/DropdownV2-test.js.snap
  src/components/ListBox/ListBox.js
  src/components/ListBox/__tests__/__snapshots__/ListBox-test.js.snap
  src/components/MultiSelect/FilterableMultiSelect.js
  src/components/MultiSelect/MultiSelect-story.js
  src/components/MultiSelect/MultiSelect.js
  src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
Labels: failing tests

#1218 feat(TextInput): add support for helper text
  src/components/NumberInput/NumberInput-story.js
  src/components/NumberInput/NumberInput-test.js
  src/components/NumberInput/NumberInput.js
  src/components/Select/Select-story.js
  src/components/Select/Select-test.js
  src/components/Select/Select.js
  src/components/TextArea/TextArea-test.js
  src/components/TextArea/TextArea.js
  src/components/TextArea/Textarea-story.js
  src/components/TextInput/TextInput-story.js
  src/components/TextInput/TextInput-test.js
  src/components/TextInput/TextInput.js
Labels: one more review

#1221 feat(data-table): allow isSortable to be defined in getHeaderProps
  src/components/DataTable/DataTable.js
Labels: one more review

#1266 feat(combo-box): add support for translateWithId
  src/components/ComboBox/ComboBox.js
Labels: status: one more review :eyes:
