Repository carbon-design-system/carbon-components-react, pull requests merged in 2018-03, with the labels that each got.

#667 fix(modal): add role to inner modal content
  src/components/Modal/Modal.js
  src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: a11y, ready for review

#666 fix(code-snippet): fixed keyboard interaction
  src/components/CodeSnippet/CodeSnippet.js
Labels: a11y, one more review, ready for review

#668 fix(combo-box): added aria-label to input field
  src/components/ComboBox/ComboBox.js
Labels: a11y, ready for review

#662 feat(modal & button): adds the danger flavor for modals and buttons
  src/components/Button/Button-story.js
  src/components/Button/Button-test.js
  src/components/Button/Button.js
  src/components/Modal/Modal-story.js
  src/components/Modal/Modal-test.js
  src/components/Modal/Modal.js
Labels: one more review

#673 fix(form): a11y fixes for form in storybook
  src/components/Form/Form-story.js
Labels: a11y

#672 fix(container): add role of main to storybook container
  .storybook/Container.js
Labels: a11y

#675 fix(dropdown): ensure items in dropdown cannot be tabbed to when menu…
  src/components/Dropdown/Dropdown-story.js
  src/components/Dropdown/Dropdown.js
  src/components/DropdownItem/DropdownItem.js
  src/components/OrderSummary/OrderSummary-story.js
Labels: a11y

#682 fix(multi-select): swap selectable, multi select styles. Bug fixes
  src/components/RadioTile/RadioTile.js
  src/components/Tile/Tile-story.js
  src/components/Tile/Tile-test.js
  src/components/Tile/Tile.js
  src/components/TileGroup/TileGroup.js
Labels: one more review

#686 fix(slider): fixed a11y errors
  src/components/Slider/Slider.js
Labels: a11y, ready for review

#696 feat(Tooltip): handle hover-over on tooltip
  src/components/Tooltip/Tooltip-test.js
  src/components/Tooltip/Tooltip.js
Labels: one more review

#709 feat(overflowmenu,icon): Support custom icons in icon and overflow menu.
  src/components/OverflowMenu/OverflowMenu-story.js
  src/components/OverflowMenu/OverflowMenu-test.js
  src/components/OverflowMenu/OverflowMenu.js
Labels: one more review

#716 Interior left nav open state
  src/components/InteriorLeftNav/InteriorLeftNav-test.js
  src/components/InteriorLeftNav/InteriorLeftNav.js
Labels: one more review
