Repository carbon-design-system/carbon-components-react, pull requests merged in 2018-07, with the labels that each got.

#1047 feat(tag): add tag back in
  src/components/Tag/Tag-story.js
  src/components/Tag/Tag-test.js
  src/components/Tag/Tag.Skeleton.js
  src/components/Tag/Tag.js
  src/components/Tag/index.js
Labels: one more review

#1062 Adopt tooltip
  src/components/NumberInput/NumberInput.js
  src/components/Select/Select.js
  src/components/TextArea/TextArea.js
  src/components/TextInput/TextInput.js
Labels: one more review

#1056 feat(overflow-menu): add requireTitle prop for text that is truncated
  package.json
  src/components/OverflowMenu/OverflowMenu-story.js
  src/components/OverflowMenuItem/OverflowMenuItem.js
  yarn.lock
Labels: one more review, ready for review

#1060 feat(Checkbox): add `title` attribute to checkbox label
  src/components/Checkbox/Checkbox.js
Labels: one more review

#1068 fix(pagination): remove string concatenation that will break localization for languages other than English
  src/components/Pagination/Pagination-test.js
  src/components/Pagination/Pagination.js
  src/components/PaginationV2/PaginationV2.js
Labels: one more review, ready for review

#1080 feat(breadcrumbs): provide ability to disable trailing slash as a prop
  src/components/Breadcrumb/Breadcrumb-story.js
  src/components/Breadcrumb/Breadcrumb.js
Labels: one more review

#1077 fix(a11y): fix a11y lint warnings
  src/components/Checkbox/Checkbox.Skeleton.js
  src/components/DatePicker/DatePicker.Skeleton.js
  src/components/DropdownV2/__snapshots__/DropdownV2-test.js.snap
  src/components/FileUploader/FileUploader.js
  src/components/InlineCheckbox/InlineCheckbox.js
  src/components/ListBox/ListBox.js
  src/components/ListBox/__tests__/__snapshots__/ListBox-test.js.snap
  src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  src/components/NumberInput/NumberInput.Skeleton.js
  src/components/RadioButton/RadioButton.Skeleton.js
  src/components/Search/Search.Skeleton.js
  src/components/Select/Select.Skeleton.js
  src/components/Slider/Slider.Skeleton.js
  src/components/Tabs/Tabs.Skeleton.js
  src/components/TextArea/TextArea.Skeleton.js
  src/components/TextInput/TextInput.Skeleton.js
Labels: one more review, ready for review

#1008 Missed Table Header Import in readme
  src/components/DataTable/README.md
Labels: failing tests

#1109 fix(DropdownV2): add ID prop
  src/components/DropdownV2/DropdownV2.js
Labels: one more review

#1142 fix(codesnippet): set shouldShowMoreLessBtn if children change
  src/components/CodeSnippet/CodeSnippet.js
Labels: one more review
