Repository carbon-design-system/carbon-components-react, pull requests merged in 2018-09, with the labels that each got.

#1255 fix(components): Fix state warning errors
  .storybook/.babelrc
  src/components/AccordionItem/AccordionItem.js
  src/components/ComposedModal/ComposedModal.js
  src/components/ContentSwitcher/ContentSwitcher.js
  src/components/FileUploader/FileUploader.js
  src/components/NumberInput/NumberInput-test.js
  src/components/NumberInput/NumberInput.js
  src/components/OverflowMenu/OverflowMenu.js
  src/components/PaginationV2/PaginationV2.js
  src/components/ProgressIndicator/ProgressIndicator.js
  src/components/RadioButtonGroup/RadioButtonGroup.js
  src/components/SearchLayoutButton/SearchLayoutButton.js
  src/components/TimePicker/TimePicker.js
  src/components/Tooltip/Tooltip.js
  yarn.lock
Labels: status: one more review :eyes:, status: waiting for response :thought_balloon:

#1307 docs(storybook): add source and readme plugins
  .storybook/addons.js
  .storybook/webpack.config.js
  .yarn-offline-mirror/@storybook-addon-storysource-3.4.10.tgz
  .yarn-offline-mirror/acorn-2.7.0.tgz
  .yarn-offline-mirror/acorn-5.7.3.tgz
  .yarn-offline-mirror/acorn-bigint-0.2.0.tgz
  .yarn-offline-mirror/acorn-class-fields-0.1.2.tgz
  .yarn-offline-mirror/acorn-es7-0.1.0.tgz
  .yarn-offline-mirror/acorn-import-meta-0.2.1.tgz
  .yarn-offline-mirror/acorn-json-superset-0.1.0.tgz
  .yarn-offline-mirror/acorn-numeric-separator-0.1.1.tgz
  .yarn-offline-mirror/acorn-optional-catch-binding-0.1.0.tgz
  .yarn-offline-mirror/acorn-private-methods-0.1.1.tgz
  .yarn-offline-mirror/acorn-stage3-0.6.0.tgz
  .yarn-offline-mirror/character-entities-1.2.2.tgz
  .yarn-offline-mirror/character-entities-legacy-1.1.2.tgz
  .yarn-offline-mirror/character-reference-invalid-1.1.2.tgz
  .yarn-offline-mirror/clipboard-2.0.1.tgz
  .yarn-offline-mirror/comma-separated-tokens-1.0.5.tgz
  .yarn-offline-mirror/delegate-3.2.0.tgz
  .yarn-offline-mirror/fault-1.0.2.tgz
  .yarn-offline-mirror/format-0.2.2.tgz
  .yarn-offline-mirror/good-listener-1.2.2.tgz
  .yarn-offline-mirror/hast-util-parse-selector-2.2.0.tgz
  .yarn-offline-mirror/hastscript-4.0.0.tgz
  .yarn-offline-mirror/highlight.js-9.12.0.tgz
  .yarn-offline-mirror/is-alphabetical-1.0.2.tgz
  .yarn-offline-mirror/is-alphanumerical-1.0.2.tgz
  .yarn-offline-mirror/is-decimal-1.0.2.tgz
  .yarn-offline-mirror/is-hexadecimal-1.0.2.tgz
  .yarn-offline-mirror/lowlight-1.9.2.tgz
  .yarn-offline-mirror/markdown-loader-3.0.0.tgz
  .yarn-offline-mirror/marked-0.4.0.tgz
  .yarn-offline-mirror/parse-entities-1.1.2.tgz
  .yarn-offline-mirror/prettier-1.14.2.tgz
  .yarn-offline-mirror/prismjs-1.15.0.tgz
  .yarn-offline-mirror/property-information-4.2.0.tgz
  .yarn-offline-mirror/react-syntax-highlighter-7.0.4.tgz
  .yarn-offline-mirror/refractor-2.6.0.tgz
  .yarn-offline-mirror/select-1.1.2.tgz
  .yarn-offline-mirror/space-separated-tokens-1.1.2.tgz
  .yarn-offline-mirror/storybook-readme-4.0.0-beta1.tgz
  .yarn-offline-mirror/string-raw-1.0.1.tgz
  .yarn-offline-mirror/tiny-emitter-2.0.2.tgz
  .yarn-offline-mirror/trim-0.0.1.tgz
  package.json
  src/components/DataTable/DataTable-story.js
  yarn.lock
Labels: status: one more review :eyes:

#1327 feat(ComboBox): clear icon translateWithId support
  src/components/ComboBox/ComboBox.js
Labels: status: one more review :eyes:

#1343 Add missing 'withInfo' method to the Notification story
  .all-contributorsrc
  README.md
  src/components/Notification/Notification-story.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1341 fix(DatePicker): stop using spread operator for NodeList
  src/components/DatePicker/DatePicker.js
  src/components/FileUploader/FileUploader.js
Labels: status: one more review :eyes:

#1350 fix(FloatingMenu): cope with SSR
  src/internal/FloatingMenu.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1347 feat(build): introduce feature flags
  .storybook/webpack.config.js
  .yarn-offline-mirror/@carbon-colors-0.0.1-alpha.0.tgz
  .yarn-offline-mirror/carbon-components-9.21.1.tgz
  .yarn-offline-mirror/carbon-components-9.6.1.tgz
  .yarn-offline-mirror/string-replace-loader-2.1.1.tgz
  README.md
  package.json
  src/internal/FeatureFlags.js
  src/internal/README.md
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:
