Repository carbon-design-system/carbon-components-react, pull requests merged in 2018-10, with the labels that each got.

#1373 fix(ExpendableTile): add initial state to prevent warnings
  src/components/Tile/Tile.js
Labels: status: one more review :eyes:

#1318 feat(Accordion): support div for the title
  .yarn-offline-mirror/carbon-components-9.14.0.tgz
  src/components/AccordionItem/AccordionItem-test.js
  src/components/AccordionItem/AccordionItem.js
Labels: status: one more review :eyes:

#1377 fix(Search): remove empty state validation
  src/components/Search/Search.js
Labels: status: one more review :eyes:

#1378 feat(Tooltip): add TabIndex to a Tooltip without an icon
  src/components/Tooltip/Tooltip.js
Labels: status: one more review :eyes:

#1372 fix(ExpandableTile): set correct maxHeight for expanded by default tile
  src/components/Tile/Tile-story.js
  src/components/Tile/Tile.js
Labels: status: one more review :eyes:

#1352 feat(NumberInput): strict mode property
  src/components/NumberInput/NumberInput-story.js
  src/components/NumberInput/NumberInput-test.js
  src/components/NumberInput/NumberInput.js
Labels: status: one more review :eyes:

#1389 fix(DatePicker): protect flatpickr in shallow render tests
  src/components/DatePicker/DatePicker.js
Labels: status: one more review :eyes:, status: waiting for response :thought_balloon:

#1376 feat(Search): add a searchLabel prop
  src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  src/components/Search/Search.js
Labels: status: waiting for response :thought_balloon:

#1417 fix(#1416): Composed modal update
  src/components/ComposedModal/ComposedModal.js
Labels: status: one more review :eyes:

#1426 fix: Added the correct roles to the overflow menu for accessibility, …
  src/components/OverflowMenu/OverflowMenu.js
Labels: status: one more review :eyes:

#1439 chore: Corrected label PropType from string to node, resolves #1433
  src/components/ProgressIndicator/ProgressIndicator.js
Labels: status: one more review :eyes:

#1429 chore(storybook): an option to enable source maps for styles
  .storybook/webpack.config.js
  .yarn-offline-mirror/async-2.6.1.tgz
  .yarn-offline-mirror/extract-text-webpack-plugin-3.0.2.tgz
  README.md
  package.json
  yarn.lock
Labels: status: one more review :eyes:

#1452 feat(ui-shell): add platform header
  .storybook/_container.scss
  .yarn-offline-mirror/@carbon-icons-react-0.0.1-alpha.2.tgz
  .yarn-offline-mirror/carbon-components-9.21.1.tgz
  .yarn-offline-mirror/carbon-components-9.36.0.tgz
  package.json
  src/components/UIShell/Header.js
  src/components/UIShell/HeaderGlobalAction.js
  src/components/UIShell/HeaderGlobalBar.js
  src/components/UIShell/HeaderMenu.js
  src/components/UIShell/HeaderMenuButton.js
  src/components/UIShell/HeaderMenuItem.js
  src/components/UIShell/HeaderName.js
  src/components/UIShell/HeaderNavigation.js
  src/components/UIShell/README.md
  src/components/UIShell/UIShell-story.js
  src/components/UIShell/__tests__/Header-test.js
  src/components/UIShell/__tests__/HeaderGlobalAction-test.js
  src/components/UIShell/__tests__/HeaderGlobalBar-test.js
  src/components/UIShell/__tests__/HeaderMenu-test.js
  src/components/UIShell/__tests__/HeaderMenuButton-test.js
  src/components/UIShell/__tests__/HeaderMenuItem-test.js
  src/components/UIShell/__tests__/HeaderName-test.js
  src/components/UIShell/__tests__/__snapshots__/Header-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/HeaderGlobalAction-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/HeaderGlobalBar-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/HeaderMenu-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/HeaderMenuButton-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/HeaderMenuItem-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/HeaderName-test.js.snap
  src/components/UIShell/classNames.js
  src/components/UIShell/index.js
  src/tools/__tests__/key-test.js
  src/tools/key.js
  yarn.lock
Labels: status: one more review :eyes:

#1503 fix: Don't pass isSelected to tr dom node.
  src/components/DataTable/TableRow.js
Labels: status: one more review :eyes:
