Repository carbon-design-system/carbon-components-react, pull requests merged in 2018-12, with the labels that each got.

#1595 fix(MultiSelect): disabled multiSelect being able to clear its select…
  src/components/MultiSelect/MultiSelect.js
Labels: status: one more review :eyes:

#1609 Updated codesandbox example
  .github/ISSUE_TEMPLATE.md
  README.md
Labels: status: one more review :eyes:

#1580 fix(Modal): Allow components as modal heading
  src/components/Modal/Modal.js
Labels: status: waiting for response :thought_balloon:

#1597 fix(MultiSelect): prevent modification of disabled multiselect actions
  src/components/MultiSelect/MultiSelect.js
  src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
  src/internal/Selection.js
  src/internal/__tests__/Selection-test.js
Labels: status: one more review :eyes:

#1603 feat(ComposedModal): add `danger` prop
  src/components/ComposedModal/ComposedModal-story.js
  src/components/ComposedModal/ComposedModal-test.js
  src/components/ComposedModal/ComposedModal.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1608 Dropdown components as items
  src/components/DropdownV2/DropdownV2-story.js
  src/components/DropdownV2/DropdownV2-test.js
  src/components/DropdownV2/DropdownV2.js
  src/components/DropdownV2/__snapshots__/DropdownV2-test.js.snap
Labels: status: one more review :eyes:

#1621 feat(Modal): focus primary focus element after component mount
  src/components/Modal/Modal-story.js
  src/components/Modal/Modal.js
Labels: status: one more review :eyes:

#1628 chore(lint): update lint-staged script
  package.json
Labels: status: ready for review :eyes:

#1631 fix(Notification): remove icon for ToastNotification
  src/components/Notification/Notification.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1633 fix(ModalWrapper): pass `selectorPrimaryFocus` prop through to `<Modal>`
  src/components/ModalWrapper/ModalWrapper-story.js
  src/components/ModalWrapper/ModalWrapper.js
  src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: ready for review :eyes:

#1634 feat(ComposedModal): support selectorPrimaryFocus prop
  src/components/ComposedModal/ComposedModal-story.js
  src/components/ComposedModal/ComposedModal-test.js
  src/components/ComposedModal/ComposedModal.js
  src/components/ComposedModal/__snapshots__/ComposedModal-test.js.snap
  src/components/Modal/Modal.js
Labels: status: ready for review :eyes:

#1656 fix(dependencies): upgrade @carbon/icons-react
  .yarn-offline-mirror/@carbon-icon-helpers-0.0.1-alpha.20.tgz
  .yarn-offline-mirror/@carbon-icon-helpers-0.0.1-alpha.26.tgz
  .yarn-offline-mirror/@carbon-icons-react-0.0.1-alpha.20.tgz
  .yarn-offline-mirror/@carbon-icons-react-0.0.1-alpha.26.tgz
  package.json
  src/components/UIShell/__tests__/__snapshots__/HeaderGlobalAction-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/HeaderMenu-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/HeaderMenuButton-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/SideNavFooter-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/SideNavMenu-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/SideNavSwitcher-test.js.snap
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1645 feat(FileUploader): add experimental FileUploader
  src/components/FileUploader/FileUploader.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1657 fix(AccordionItem): add aria-expanded and use tab role
  src/components/Accordion/Accordion.js
  src/components/AccordionItem/AccordionItem.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1685 feat(ModalWrapper): add icon option to trigger button
  src/components/ModalWrapper/ModalWrapper-story.js
  src/components/ModalWrapper/ModalWrapper.js
  src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: one more review :eyes:
