Repository carbon-design-system/carbon-components-react, pull requests merged in 2019-04, with the labels that each got.

#2079 fix: apply correct aria label prop for radio
  src/components/DataTable/TableSelectRow.js
  src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  src/components/RadioButton/RadioButton-test.js
  src/components/RadioButton/RadioButton.js
  src/components/RadioTile/RadioTile-test.js
Labels: status: ready for review :eyes:

#2134 fix(TextInput): add invalid attr on wrapper div
  src/components/TextInput/TextInput.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2144 docs(ModalWrapper): use unique radio button values
  src/components/ModalWrapper/ModalWrapper-story.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2141 fix(Modal): fix NPE at onTransitionEnd
  src/components/Modal/Modal.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2127 fix(DataTable): update data-table styles and add description prop
  src/components/DataTable/Table.js
  src/components/DataTable/TableBatchAction.js
  src/components/DataTable/TableContainer.js
  src/components/DataTable/TableExpandRow.js
  src/components/DataTable/TableExpandedRow.js
  src/components/DataTable/TableHeader.js
  src/components/DataTable/TableRow.js
  src/components/DataTable/TableSelectAll.js
  src/components/DataTable/__tests__/DataTable-test.js
  src/components/DataTable/__tests__/Table-test.js
  src/components/DataTable/__tests__/TableExpandRow-test.js
  src/components/DataTable/__tests__/TableToolbarAction-test.js
  src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/Table-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableBody-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableCell-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableContainer-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableExpandHeader-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableExpandRow-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableHead-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableHeader-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableRow-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableSelectAll-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableSelectRow-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableToolbarAction-test.js.snap
  src/components/DataTable/migrate-to-7.x.md
  src/components/DataTable/stories/default.js
  src/components/DataTable/stories/with-batch-actions.js
  src/components/DataTable/stories/with-boolean-column.js
  src/components/DataTable/stories/with-dynamic-content.js
  src/components/DataTable/stories/with-expansion.js
  src/components/DataTable/stories/with-selection--radio.js
  src/components/DataTable/stories/with-selection.js
  src/components/DataTable/stories/with-sorting.js
  src/components/DataTable/stories/with-toolbar.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2146 FEAT(SideNav): add ability to change default expanded state
  src/components/UIShell/SideNav.js
  src/components/UIShell/__tests__/SideNav-test.js
  src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2139 Adds README.md for MultiSelect component
  src/components/MultiSelect/MultiSelect-story.js
  src/components/MultiSelect/README.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2176 docs(migration): remove unreleased block
  docs/migration/migrate-to-7.x.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2175 fix(multi-select): introduce translateWithId
  src/components/MultiSelect/FilterableMultiSelect.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2174 feat(OverflowMenu): add menuOptionsClass to overflowMenu
  src/components/OverflowMenu/OverflowMenu-test.js
  src/components/OverflowMenu/OverflowMenu.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2169 fix(TimePicker): add Carbon text input classes
  src/components/TimePicker/TimePicker.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2163 fix(modal): set initial focus and conditionally render focus trap
  src/components/Modal/Modal.js
  src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2186 docs: update codepen example
  examples/codesandbox/package.json
  examples/codesandbox/yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2203 v7.1.0
  package.json
Labels: status: one more review :eyes:

#2181 fix(DataTableSkeleton): headers prop can now be array of objects to match DataTable
  src/components/DataTableSkeleton/DataTableSkeleton.js
Labels: status: one more review :eyes:

#2209 fix: match vaniila 2290
  src/components/Switch/Switch.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2199 chore(ci): re-enable storybook, remove experimental
  .circleci/config.yml
Labels: status: one more review :eyes:

#2214 chore(project): update eslint to 5.16.0
  .yarn-offline-mirror/ajv-6.10.0.tgz
  .yarn-offline-mirror/ansi-escapes-3.2.0.tgz
  .yarn-offline-mirror/bowser-1.9.4.tgz
  .yarn-offline-mirror/caller-path-0.1.0.tgz
  .yarn-offline-mirror/callsites-0.2.0.tgz
  .yarn-offline-mirror/circular-json-0.3.3.tgz
  .yarn-offline-mirror/comment-parser-0.5.0.tgz
  .yarn-offline-mirror/comment-parser-0.5.4.tgz
  .yarn-offline-mirror/doctrine-3.0.0.tgz
  .yarn-offline-mirror/emoji-regex-6.5.1.tgz
  .yarn-offline-mirror/eslint-5.16.0.tgz
  .yarn-offline-mirror/eslint-5.9.0.tgz
  .yarn-offline-mirror/eslint-plugin-jsdoc-3.9.1.tgz
  .yarn-offline-mirror/eslint-plugin-jsdoc-4.8.3.tgz
  .yarn-offline-mirror/eslint-plugin-jsx-a11y-6.1.2.tgz
  .yarn-offline-mirror/eslint-plugin-jsx-a11y-6.2.1.tgz
  .yarn-offline-mirror/eslint-plugin-react-7.11.1.tgz
  .yarn-offline-mirror/eslint-plugin-react-7.12.4.tgz
  .yarn-offline-mirror/eslint-scope-4.0.3.tgz
  .yarn-offline-mirror/espree-4.1.0.tgz
  .yarn-offline-mirror/espree-5.0.1.tgz
  .yarn-offline-mirror/file-entry-cache-2.0.0.tgz
  .yarn-offline-mirror/file-entry-cache-5.0.1.tgz
  .yarn-offline-mirror/flat-cache-1.3.4.tgz
  .yarn-offline-mirror/flat-cache-2.0.1.tgz
  .yarn-offline-mirror/flatted-2.0.0.tgz
  .yarn-offline-mirror/inquirer-6.2.2.tgz
  .yarn-offline-mirror/is-resolvable-1.1.0.tgz
  .yarn-offline-mirror/jsdoctypeparser-2.0.0-alpha-8.tgz
  .yarn-offline-mirror/jsdoctypeparser-3.1.0.tgz
  .yarn-offline-mirror/pluralize-7.0.0.tgz
  .yarn-offline-mirror/require-uncached-1.0.3.tgz
  .yarn-offline-mirror/resolve-from-1.0.1.tgz
  .yarn-offline-mirror/rxjs-6.4.0.tgz
  .yarn-offline-mirror/slice-ansi-2.0.0.tgz
  .yarn-offline-mirror/slice-ansi-2.1.0.tgz
  .yarn-offline-mirror/table-5.1.1.tgz
  .yarn-offline-mirror/table-5.2.3.tgz
  .yarn-offline-mirror/write-0.2.1.tgz
  .yarn-offline-mirror/write-1.0.3.tgz
  package.json
  yarn.lock
Labels: status: one more review :eyes:

#2215 chore(project): add clean task
  package.json
  scripts/build.js
  yarn.lock
Labels: status: merge conflict :no_entry_sign:, status: one more review :eyes:

#2216 chore(rollup): update rollup and config
  .yarn-offline-mirror/@types-node-11.13.0.tgz
  .yarn-offline-mirror/@types-node-11.13.4.tgz
  .yarn-offline-mirror/@types-resolve-0.0.8.tgz
  .yarn-offline-mirror/builtin-modules-3.0.0.tgz
  .yarn-offline-mirror/builtin-modules-3.1.0.tgz
  .yarn-offline-mirror/estree-walker-0.6.0.tgz
  .yarn-offline-mirror/magic-string-0.25.1.tgz
  .yarn-offline-mirror/magic-string-0.25.2.tgz
  .yarn-offline-mirror/rollup-1.10.0.tgz
  .yarn-offline-mirror/rollup-1.8.0.tgz
  .yarn-offline-mirror/rollup-plugin-babel-4.0.3.tgz
  .yarn-offline-mirror/rollup-plugin-babel-4.3.2.tgz
  .yarn-offline-mirror/rollup-plugin-commonjs-9.2.0.tgz
  .yarn-offline-mirror/rollup-plugin-commonjs-9.3.4.tgz
  .yarn-offline-mirror/rollup-plugin-node-resolve-4.0.1.tgz
  .yarn-offline-mirror/rollup-plugin-node-resolve-4.2.3.tgz
  .yarn-offline-mirror/rollup-plugin-replace-2.1.0.tgz
  .yarn-offline-mirror/rollup-plugin-replace-2.2.0.tgz
  .yarn-offline-mirror/rollup-pluginutils-2.6.0.tgz
  package.json
  scripts/rollup.config.js
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2212 feat(project): update React and dependencies to 16.8.6
  .yarn-offline-mirror/airbnb-prop-types-2.13.2.tgz
  .yarn-offline-mirror/array.prototype.find-2.0.4.tgz
  .yarn-offline-mirror/enzyme-adapter-react-16-1.11.2.tgz
  .yarn-offline-mirror/enzyme-adapter-react-16-1.12.1.tgz
  .yarn-offline-mirror/enzyme-adapter-utils-1.10.1.tgz
  .yarn-offline-mirror/enzyme-adapter-utils-1.11.0.tgz
  .yarn-offline-mirror/enzyme-to-json-3.3.4.tgz
  .yarn-offline-mirror/enzyme-to-json-3.3.5.tgz
  .yarn-offline-mirror/prop-types-exact-1.2.0.tgz
  .yarn-offline-mirror/react-16.8.5.tgz
  .yarn-offline-mirror/react-16.8.6.tgz
  .yarn-offline-mirror/react-dom-16.8.5.tgz
  .yarn-offline-mirror/react-dom-16.8.6.tgz
  .yarn-offline-mirror/react-test-renderer-16.8.5.tgz
  .yarn-offline-mirror/react-test-renderer-16.8.6.tgz
  .yarn-offline-mirror/reflect.ownkeys-0.2.0.tgz
  .yarn-offline-mirror/scheduler-0.13.5.tgz
  .yarn-offline-mirror/scheduler-0.13.6.tgz
  package.json
  yarn.lock
Labels: status: one more review :eyes:

#2217 fix(Modal): adds text to modalAriaLabel on story.
  src/components/Modal/Modal-story.js
Labels: status: one more review :eyes:

#2221 chore: update carbon-components for storybook
  .yarn-offline-mirror/carbon-components-10.0.0.tgz
  .yarn-offline-mirror/carbon-components-10.1.0.tgz
  package.json
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2158 fix(ComboBox): match experimental spec
  src/components/ComboBox/ComboBox-story.js
  src/components/ComboBox/ComboBox.js
  src/components/Dropdown/Dropdown-story.js
  src/components/Dropdown/Dropdown-test.js
  src/components/Dropdown/Dropdown.js
  src/components/Dropdown/__snapshots__/Dropdown-test.js.snap
  src/components/ListBox/ListBox.js
  src/components/ListBox/ListBoxField.js
  src/components/ListBox/ListBoxMenu.js
  src/components/ListBox/ListBoxMenuIcon.js
  src/components/ListBox/__tests__/ListBox-test.js
  src/components/ListBox/__tests__/ListBoxField-test.js
  src/components/ListBox/__tests__/ListBoxMenu-test.js
  src/components/ListBox/__tests__/__snapshots__/ListBox-test.js.snap
  src/components/ListBox/__tests__/__snapshots__/ListBoxField-test.js.snap
  src/components/ListBox/__tests__/__snapshots__/ListBoxMenu-test.js.snap
  src/components/ListBox/__tests__/__snapshots__/ListBoxMenuIcon-test.js.snap
  src/components/MultiSelect/FilterableMultiSelect.js
  src/components/MultiSelect/MultiSelect-story.js
  src/components/MultiSelect/MultiSelect.js
  src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2219 feat(Toggle and ToggleSmall): on Enter key press toggle action is being triggered.
  src/components/Toggle/Toggle.js
  src/components/ToggleSmall/ToggleSmall.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2235 fix(Icon): removes description default value
  src/components/Icon/Icon.js
Labels: status: one more review :eyes:

#2243 fix(Icon): no alt in svg
  src/components/Icon/Icon.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2224 fix(Tabs): avoid stale tab ref cache
  src/components/Tabs/Tabs.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2254 fix(Modal): fix button type in danger mode
  src/components/ComposedModal/ComposedModal-test.js
  src/components/ComposedModal/ComposedModal.js
  src/components/Modal/Modal-test.js
  src/components/Modal/Modal.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2255 fix(notification): adds aria-label to button
  src/components/Notification/Notification.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2256 fix(accordion): remove role=presentation
  src/components/AccordionItem/AccordionItem.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2262 fix(InputField) - adds aria-label property on `input` element
  src/components/NumberInput/NumberInput.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2247 feat: Table toolbar v10
  .storybook/config.js
  notes.md
  package.json
  src/components/DataTable/DataTable-story.js
  src/components/DataTable/DataTable.js
  src/components/DataTable/README.md
  src/components/DataTable/Table.js
  src/components/DataTable/TableBatchAction.js
  src/components/DataTable/TableBatchActions.js
  src/components/DataTable/TableBody.js
  src/components/DataTable/TableHeader.js
  src/components/DataTable/TableToolbar.js
  src/components/DataTable/TableToolbarAction.js
  src/components/DataTable/TableToolbarMenu.js
  src/components/DataTable/TableToolbarSearch.js
  src/components/DataTable/__tests__/DataTable-test.js
  src/components/DataTable/__tests__/TableToolbarMenu-test.js
  src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/Table-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableBatchActions-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableBody-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableCell-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableExpandHeader-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableExpandRow-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableHead-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableHeader-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableRow-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableSelectAll-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableSelectRow-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableToolbar-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableToolbarAction-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableToolbarMenu-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableToolbarSearch-test.js.snap
  src/components/DataTable/index.js
  src/components/DataTable/stories/default.js
  src/components/DataTable/stories/with-batch-actions.js
  src/components/DataTable/stories/with-boolean-column.js
  src/components/DataTable/stories/with-dynamic-content.js
  src/components/DataTable/stories/with-expansion.js
  src/components/DataTable/stories/with-selection--radio.js
  src/components/DataTable/stories/with-selection.js
  src/components/DataTable/stories/with-sorting.js
  src/components/DataTable/stories/with-toolbar.js
  src/components/Search/Search-test.js
  src/components/Search/Search.js
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2234 fix(Tab): add missing disabled prop
  src/components/Tab/Tab.js
  src/components/Tabs/Tabs-story.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2260 fix(pagination): add noLabel prop to Select
  src/components/Pagination/Pagination.js
  src/components/Select/Select.js
Labels: status: one more review :eyes:

#2276 docs(DataTable): Update documentation for DataTable expansion
  src/components/DataTable/README.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2278 fix(Pagination): pageInputDisabled won't append disabled class to buttons
  src/components/Pagination/Pagination-test.js
  src/components/Pagination/Pagination.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2294 feat: update SideNav and Menu
  src/components/UIShell/Link.js
  src/components/UIShell/SideNavMenu.js
Labels: status: one more review :eyes:
