Repository carbon-design-system/carbon-components-react, pull requests merged in 2019-05, with the labels that each got.

#2090 Multi select v9 selection behaviour
  src/components/MultiSelect/FilterableMultiSelect.js
  src/components/MultiSelect/MultiSelect-story.js
  src/components/MultiSelect/MultiSelect.js
  src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
  src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
  src/components/MultiSelect/tools/sorting.js
Labels: status: non-trivial review, status: one more review :eyes:, status: ready for review :eyes:

#2293 fix(DropdownV2): v6 - explicitly passes through translateWithId to menu icon
  src/components/DropdownV2/DropdownV2.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2142 feat(Tabs): support custom tab content
  src/components/Tab/Tab.js
  src/components/Tabs/Tabs-story.js
  src/components/Tabs/Tabs.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#2259 fix(OverflowMenu): cleanup timeout upon unmount
  src/components/OverflowMenu/OverflowMenu.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#2271 fix(DataTable): selection fix
  src/components/DataTable/DataTable-story.js
  src/components/DataTable/DataTable.js
  src/components/DataTable/README.md
  src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  src/components/DataTable/stories/with-options.js
  src/components/DataTable/tools/__tests__/__snapshots__/normalize-test.js.snap
  src/components/DataTable/tools/normalize.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2257 fix(ComboBox): prevent open upon clear
  src/components/ListBox/ListBoxSelection.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#2268 fix(MultiSelect): apply translateWithId to selection
  src/components/MultiSelect/FilterableMultiSelect.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#2275 docs(Modal): update prop type comment
  src/components/Modal/Modal.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#2280 fix(NumberInput): avoid validation for space
  src/components/NumberInput/NumberInput-test.js
  src/components/NumberInput/NumberInput.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#2284 docs(Pagination): fix typo
  src/components/Pagination/Pagination-story.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#2285 docs(Toggle): expose `disabled` knob
  src/components/Toggle/Toggle-story.js
  src/components/ToggleSmall/ToggleSmall-story.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#2298 fix(Dropdown): pass translationWithId through
  src/components/Dropdown/Dropdown.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#2305 chore(readme): fix broken ci status badge photo
  README.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2306 chore(SideNav): align icon API to other components
  src/components/UIShell/SideNavHeader.js
  src/components/UIShell/SideNavLink.js
  src/components/UIShell/SideNavMenu.js
  src/components/UIShell/UIShell-story.js
  src/components/UIShell/__tests__/SideNavHeader-test.js
  src/components/UIShell/__tests__/SideNavMenu-test.js
  src/components/UIShell/__tests__/__snapshots__/SideNavHeader-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/SideNavLink-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/SideNavMenu-test.js.snap
Labels: status: ready for review :eyes:

#2303 fix(Modal): accept nodes to heading
  src/components/ComposedModal/ComposedModal.js
  src/components/Modal/Modal.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: ready to merge :tada:

#2302 chore(components): complete removing icon prop
  src/components/Button/Button-test.js
  src/components/Button/Button.js
  src/components/Tooltip/Tooltip.js
Labels: status: one more review :eyes:, status: ready to merge :tada:

#2313 chore(release): v6.114.1
  package.json
Labels: status: one more review :eyes:

#2299 fix(modal): screen reader improvements
  src/components/Modal/Modal.js
  src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: one more review :eyes:, type: a11y ♿

#2239 feat(MultiSelect): match experimental spec
  .yarn-offline-mirror/carbon-components-10.1.0.tgz
  .yarn-offline-mirror/carbon-components-10.2.0.tgz
  package.json
  src/components/Checkbox/Checkbox.js
  src/components/MultiSelect/FilterableMultiSelect.js
  src/components/MultiSelect/MultiSelect-story.js
  src/components/MultiSelect/MultiSelect.js
  src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
  yarn.lock
Labels: status: visual review :eyes:, status: waiting for author's response

#2316 chore(Storybook): remove RTL plugin
  .github/CONTRIBUTING.md
  .storybook/.babelrc.js
  .storybook/Container.js
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.js
  .yarn-offline-mirror/@emotion-is-prop-valid-0.7.3.tgz
  .yarn-offline-mirror/@emotion-memoize-0.7.1.tgz
  .yarn-offline-mirror/@emotion-unitless-0.7.3.tgz
  .yarn-offline-mirror/babel-plugin-styled-components-1.10.0.tgz
  .yarn-offline-mirror/babel-plugin-syntax-jsx-6.18.0.tgz
  .yarn-offline-mirror/babel-plugin-transform-inline-environment-variables-0.4.3.tgz
  .yarn-offline-mirror/camelize-1.0.0.tgz
  .yarn-offline-mirror/colors-0.6.2.tgz
  .yarn-offline-mirror/commander-2.1.0.tgz
  .yarn-offline-mirror/css-color-keywords-1.0.0.tgz
  .yarn-offline-mirror/css-to-react-native-2.3.0.tgz
  .yarn-offline-mirror/findup-0.1.5.tgz
  .yarn-offline-mirror/memoize-one-5.0.0.tgz
  .yarn-offline-mirror/rtlcss-2.4.0.tgz
  .yarn-offline-mirror/storybook-addon-rtl-0.2.2.tgz
  .yarn-offline-mirror/styled-components-4.2.0.tgz
  .yarn-offline-mirror/stylis-3.5.4.tgz
  .yarn-offline-mirror/stylis-rule-sheet-0.0.10.tgz
  package.json
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2319 fix(date-picker-input): require label
  .github/ISSUE_TEMPLATE/accessibility-issue--.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request-or-enhancement---.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
  src/components/DatePickerInput/DatePickerInput.js
Labels: status: ready to merge :tada:

#2346 chore: prettier
  .github/ISSUE_TEMPLATE/accessibility-issue--.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request-or-enhancement---.md
  .github/ISSUE_TEMPLATE/question.md
Labels: Severity 1 🚨, priority: high, status: one more review :eyes:, status: ready for review :eyes:

#2337 fix(button): update story icons details
  src/components/Button/Button-story.js
Labels: status: needs merge to monorepo

#2324 docs(OverflowMenu): note on children
  src/components/OverflowMenu/README.md
Labels: status: needs merge to monorepo, status: ready to merge :tada:

#2330 Add support for useTitleInItem (tooltip on hover)
  src/components/MultiSelect/FilterableMultiSelect.js
Labels: status: needs merge to monorepo, status: ready to merge :tada:

#2318 fix(tabs): replace nav with div tags
  src/components/Tabs/Tabs-test.js
  src/components/Tabs/Tabs.js
Labels: status: needs merge to monorepo, status: ready to merge :tada:

#2329 docs(Tile): add aria attributes to wrapper div
  src/components/Tile/Tile-story.js
Labels: status: needs merge to monorepo, status: ready to merge :tada:

#2350 fix(structured-list): remove stray commas in story
  src/components/StructuredList/StructuredList-story.js
Labels: status: ready to merge :tada:

#2359 fix: added the legend to TileGroup, resolves #2358
  src/components/TileGroup/TileGroup.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2368 chore(project): update README and templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/accessibility-issue--.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request-or-enhancement---.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: status: one more review :eyes:

#2376 fix(ListBox): remove default inner tab index
  src/components/DropdownV2/__snapshots__/DropdownV2-test.js.snap
  src/components/ListBox/ListBox.js
  src/components/ListBox/__tests__/ListBox-test.js
  src/components/ListBox/__tests__/__snapshots__/ListBox-test.js.snap
  src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
Labels: status: ready for review :eyes:

#2382 feat(ListBox): add focus state
  .yarn-offline-mirror/carbon-components-9.90.9.tgz
  .yarn-offline-mirror/carbon-components-9.91.2.tgz
  package.json
  yarn.lock
Labels: status: ready for review :eyes:, status: ready to merge :tada:

#2385 fix(dataTable): selection fix
  src/components/DataTable/DataTable-story.js
  src/components/DataTable/DataTable.js
  src/components/DataTable/README.md
  src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  src/components/DataTable/stories/with-options.js
  src/components/DataTable/tools/__tests__/__snapshots__/normalize-test.js.snap
  src/components/DataTable/tools/normalize.js
Labels: status: one more review :eyes:
