Repository carbon-design-system/carbon-components-react, pull requests merged in 2019-01, with the labels that each got.

#1671 docs(Checkbox): remove duplicate id from `checked` story
  src/components/Checkbox/Checkbox-story.js
Labels: status: ready for review :eyes:

#1667 feat(Modal): add experimental modal
  package.json
  src/components/ComposedModal/ComposedModal.js
  src/components/Modal/Modal-test.js
  src/components/Modal/Modal.js
  src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: one more review :eyes:

#1669 feat(Button): add experimental button
  src/components/Button/Button-story.js
  src/components/Button/Button.js
Labels: status: ready for review :eyes:

#1702 fix: Removed the role of button from the expandable tile, resolves #1…
  src/components/Tile/Tile.js
Labels: status: one more review :eyes:

#1698 fix: Adds an aria-label to the div surrounding the tooltip icon, reso…
  src/components/Tooltip/Tooltip.js
Labels: status: one more review :eyes:

#1604 fix(NumberInput): add no-label class if no labels provided
  src/components/NumberInput/NumberInput-test.js
  src/components/NumberInput/NumberInput.js
Labels: status: waiting for response :thought_balloon:

#1687 fix(TextInput): match vanilla markup
  src/components/TextInput/TextInput.js
Labels: status: ready for review :eyes:

#1711 chore(build): supporting experimental for deploy preview
  .gitignore
  .yarn-offline-mirror/cross-env-5.2.0.tgz
  netlify.toml
  package.json
  storybook-static-preview/index.html
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1737 fix(Tile): Expandable height now accounts for dynamic content below the fold
  src/components/Tile/Tile.js
Labels: status: one more review :eyes:

#1642 feat(Loading): add experimental loading spinner
  .yarn-offline-mirror/carbon-components-9.61.4.tgz
  .yarn-offline-mirror/carbon-components-9.66.4.tgz
  package.json
  src/components/Loading/Loading.js
  src/components/NumberInput/NumberInput.js
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1717 fix(DatePicker): avoid rendering extra icons for experimental DatePicker
  src/components/DatePicker/DatePicker.js
  src/components/DatePickerInput/DatePickerInput.js
Labels: status: ready for review :eyes:

#1713 feat(ComboBox): add experimental ComboBox
  src/components/ComboBox/ComboBox.js
  src/components/ListBox/ListBoxMenuIcon.js
  src/components/ListBox/ListBoxSelection.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1758 fix(overflow-menu): add escape keyhandler for close on escape
  src/components/OverflowMenu/OverflowMenu.js
Labels: project: components, status: one more review :eyes:, status: ready for review :eyes:, type: a11y

#1744 feat(Tabs): use experimental icons
  src/components/Tabs/Tabs.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1770 feat(TextInput): allow TextInput to handle refs like a native input e…
  src/components/Checkbox/Checkbox-test.js
  src/components/Checkbox/Checkbox.js
  src/components/Select/Select-test.js
  src/components/Select/Select.js
  src/components/TextInput/TextInput-test.js
  src/components/TextInput/TextInput.js
Labels: status: one more review :eyes:

#1683 feat(Slider): add experimental slider
  .yarn-offline-mirror/carbon-components-9.66.4.tgz
  .yarn-offline-mirror/carbon-components-9.68.5.tgz
  package.json
  src/components/Slider/Slider-story.js
  src/components/Slider/Slider.js
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1746 fix(Button): hide button icons from assistive technology
  src/components/Button/Button.js
  src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1772 fix(list-box): Prevent focus on open/close icon
  src/components/DatePicker/DatePicker.js
  src/components/DatePickerInput/DatePickerInput.js
  src/components/DropdownV2/__snapshots__/DropdownV2-test.js.snap
  src/components/ListBox/ListBoxMenuIcon.js
  src/components/ListBox/__tests__/__snapshots__/ListBoxMenuIcon-test.js.snap
  src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
Labels: status: one more review :eyes:

#1771 fix(a11y): avoid empty label in ToggleSmall
  src/components/ToggleSmall/ToggleSmall.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1798 fix(FloatingMenu): changes scrollY to pageYOffset for IE
  src/internal/FloatingMenu.js
Labels: status: one more review :eyes:

#1795 fix(MultiSelect): avoid repeated assignment of ids
  src/components/MultiSelect/MultiSelect.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1716 feat(ContentSwitcher): add experimental ContentSwitcher
  .yarn-offline-mirror/carbon-components-9.64.3.tgz
  src/components/ContentSwitcher/ContentSwitcher-story.js
  src/components/Switch/Switch.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1723 docs(OrderedList): create component story
  src/components/OrderedList/OrderedList-story.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1747 fix(TimePicker): update markup to match experimental component
  src/components/TimePicker/TimePicker-story.js
  src/components/TimePickerSelect/TimePickerSelect.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1774 fix(Tile): reorder component markup for a11y
  src/components/RadioTile/RadioTile.js
  src/components/Tile/Tile-test.js
  src/components/Tile/Tile.js
  src/components/TileGroup/TileGroup.js
Labels: status: ready for review :eyes:, type: a11y

#1808 docs(TextInput): expose `defaultValue` prop as Storybook knob
  .yarn-offline-mirror/carbon-components-9.64.3.tgz
  .yarn-offline-mirror/carbon-components-9.68.2.tgz
  src/components/TextInput/TextInput-story.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, type: docs :book:
