Repository carbon-design-system/carbon-components-react, pull requests merged in 2019-03, with the labels that each got.

#1950 chore: bump `carbon-components` version
  .yarn-offline-mirror/carbon-components-9.69.0.tgz
  .yarn-offline-mirror/carbon-components-9.82.8.tgz
  package.json
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1962 chore(dependencies): upgrade carbon-components
  .yarn-offline-mirror/carbon-components-9.82.13.tgz
  .yarn-offline-mirror/carbon-components-9.82.8.tgz
  package.json
  yarn.lock
Labels: status: ready for review :eyes:

#1957 fix(DatePicker): fix tabbing through in range mode
  .yarn-offline-mirror/flatpickr-4.5.5.tgz
  package.json
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1908 feat(components): support custom icon renderer
  src/components/Button/Button-story.js
  src/components/Button/Button-test.js
  src/components/Button/Button.js
  src/components/DataTable/TableToolbarAction.js
  src/components/DataTable/__tests__/TableToolbarAction-test.js
  src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
  src/components/DataTable/stories/default.js
  src/components/DataTable/stories/with-batch-actions.js
  src/components/DataTable/stories/with-boolean-column.js
  src/components/DataTable/stories/with-dynamic-content.js
  src/components/DataTable/stories/with-toolbar.js
  src/components/ModalWrapper/ModalWrapper-story.js
  src/components/ModalWrapper/ModalWrapper.js
  src/components/Notification/Notification-test.js
  src/components/Notification/Notification.js
  src/components/OverflowMenu/OverflowMenu-test.js
  src/components/OverflowMenu/OverflowMenu.js
  src/components/Tooltip/Tooltip.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: waiting for reviewer's response

#1969 fix: get rid of console error from using ref on SFC
  src/components/UIShell/Link.js
Labels: status: failing tests :no_good_man:, status: waiting for author's response

#1859 feat(components): support forwardRef for button and stateful
  src/components/Button/Button.js
  src/components/Checkbox/Checkbox.js
  src/components/InlineCheckbox/InlineCheckbox.js
  src/components/NumberInput/NumberInput.js
  src/components/RadioButton/RadioButton.js
  src/components/Select/Select.js
  src/components/TextInput/TextInput.js
  src/tools/__tests__/mergeRefs-test.js
  src/tools/mergeRefs.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1926 fix(MultiSelect): remove item autosort behavior
  src/components/MultiSelect/FilterableMultiSelect.js
  src/components/MultiSelect/MultiSelect.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1922 fix(ProgressIndicator): fix wrong prop
  src/components/ProgressIndicator/ProgressIndicator.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1920 fix(OverflowMenu): assign menu body ref for non-floating menu
  src/components/OverflowMenu/OverflowMenu.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1917 fix(Tooltip): show pointer cursor only on icon hover
  src/components/Tooltip/Tooltip-test.js
  src/components/Tooltip/Tooltip.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1936 fix(toggle): add checkmark icon for v10 mini toggle
  .yarn-offline-mirror/carbon-components-9.81.5.tgz
  README.md
  package.json
  src/components/ToggleSmall/ToggleSmall.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1975 fix(number-input): use required prop `iconDescription` in CarbonX icons
  src/components/NumberInput/NumberInput.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1959 docs(components): introduce misc migration guides
  src/components/migrate-to-10.x.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1961 Deprecate non floating overflow menu
  src/components/OverflowMenu/OverflowMenu-story.js
  src/components/OverflowMenu/OverflowMenu.js
  src/components/OverflowMenu/migrate-to-10.x.md
  src/components/OverflowMenuItem/OverflowMenuItem.js
  src/components/OverflowMenuItem/migrate-to-10.x.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1731 fix(filterablemulti-select): Fixed a11y tabbing issue on filterable multi select
  src/components/DropdownV2/__snapshots__/DropdownV2-test.js.snap
  src/components/ListBox/ListBox.js
  src/components/ListBox/__tests__/ListBox-test.js
  src/components/ListBox/__tests__/__snapshots__/ListBox-test.js.snap
  src/components/MultiSelect/FilterableMultiSelect.js
  src/components/MultiSelect/MultiSelect-story.js
  src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
Labels: status: one more review :eyes:, status: waiting for reviewer's response

#1930 feat(RadioButton): support labelPosition prop
  src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  src/components/RadioButton/RadioButton-story.js
  src/components/RadioButton/RadioButton.Skeleton.js
  src/components/RadioButton/RadioButton.js
  src/components/RadioButton/migrate-to-10.x.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1946 fix(DropdownV2): expect string or object for `selectedItem` prop
  src/components/DropdownV2/DropdownV2.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1960 chore(Footer): deprecate for v10
  src/components/Footer/Footer-test.js
  src/components/Footer/Footer.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1988 feat(FloatingMenu): support refs
  src/components/OverflowMenu/OverflowMenu.js
  src/components/Tooltip/Tooltip.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1980 [Feat] Add ability to render item other than string for HeaderMenu
  src/components/UIShell/HeaderMenu.js
  src/components/UIShell/__tests__/HeaderMenu-test.js
  src/components/UIShell/__tests__/__snapshots__/HeaderMenu-test.js.snap
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1982 fix: Add titles to buttons that encapsulate icons
  src/components/AccordionItem/AccordionItem.js
  src/components/ComposedModal/ComposedModal.js
  src/components/CopyButton/CopyButton.js
  src/components/DataTable/TableExpandRow.js
  src/components/DataTable/TableToolbarAction.js
  src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableToolbarAction-test.js.snap
  src/components/Modal/Modal.js
  src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
  src/components/Notification/Notification.js
  src/components/NumberInput/NumberInput.js
  src/components/SearchFilterButton/SearchFilterButton.js
  src/components/SearchLayoutButton/SearchLayoutButton.js
  src/components/ToolbarSearch/ToolbarSearch.js
Labels: status: one more review :eyes:

#2004 fix(DatePicker): fix month input appearance
  .yarn-offline-mirror/carbon-components-9.81.5.tgz
  .yarn-offline-mirror/carbon-components-9.82.13.tgz
  .yarn-offline-mirror/carbon-components-9.84.1.tgz
  .yarn-offline-mirror/flatpickr-4.5.2.tgz
  .yarn-offline-mirror/flatpickr-4.5.7.tgz
  package.json
  yarn.lock
Labels: status: one more review :eyes:

#1997 chore(components): simplify react node tree structure
  src/components/Button/Button.js
  src/components/Checkbox/Checkbox.js
  src/components/ComposedModal/ComposedModal-test.js
  src/components/ComposedModal/ComposedModal.js
  src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableBatchAction-test.js.snap
  src/components/ModalWrapper/ModalWrapper.js
  src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
  src/components/Select/Select-test.js
  src/components/Select/Select.js
  src/components/TextInput/TextInput-test.js
  src/components/TextInput/TextInput.js
  src/components/UIShell/HeaderMenuItem.js
  src/components/UIShell/__tests__/__snapshots__/HeaderMenu-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/HeaderMenuItem-test.js.snap
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1966 fix(DatePicker): match experimental spec
  .yarn-offline-mirror/carbon-components-9.82.15.tgz
  src/components/DatePicker/DatePicker.js
  src/components/DatePickerInput/DatePickerInput.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1998 docs(migrate): update README.md
  README.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1983 feat(NumberInput): add experimental mobile variant
  package.json
  src/components/NumberInput/NumberInput-story.js
  src/components/NumberInput/NumberInput.js
  yarn.lock
Labels: status: non-trivial review, status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#1938 chore(components): update required polyfills
  .storybook/polyfills.js
  .storybook/polyfills/element-closest.js
  .storybook/polyfills/element-matches.js
  docs/migration/migrate-to-10.x.md
  src/components/ComposedModal/ComposedModal.js
  src/components/Modal/Modal.js
  src/components/OverflowMenu/OverflowMenu.js
  src/components/Tooltip/Tooltip.js
Labels: status: merge conflict :no_entry_sign:, status: one more review :eyes:, status: ready for review :eyes:

#1990 fix(TextInput): match text input to experimental spec
  .yarn-offline-mirror/carbon-components-9.82.15.tgz
  .yarn-offline-mirror/carbon-components-9.84.1.tgz
  .yarn-offline-mirror/carbon-components-9.84.4.tgz
  package.json
  src/components/TextInput/TextInput.js
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1945 feat(ProgressIndicator): add optional interactivity
  package.json
  src/components/ProgressIndicator/ProgressIndicator-story.js
  src/components/ProgressIndicator/ProgressIndicator-test.js
  src/components/ProgressIndicator/ProgressIndicator.js
Labels: status: non-trivial review

#2038 ContentSwitcher react, audit fixes
  .yarn-offline-mirror/carbon-components-9.84.13.tgz
  .yarn-offline-mirror/carbon-components-9.84.14.tgz
  package.json
  src/components/ContentSwitcher/ContentSwitcher-story.js
  src/components/Switch/Switch.js
  yarn.lock
Labels: status: ready for review :eyes:, status: visual review :eyes:, v10 :new:

#2024 feat(Link): add disabled prop
  src/components/Link/Link-story.js
  src/components/Link/Link.js
Labels: status: ready for review :eyes:

#1977 chore(components): support SVG title attribute for icon description
  src/components/Button/Button-story.js
  src/components/Button/Button-test.js
  src/components/ComposedModal/ComposedModal.js
  src/components/CopyButton/CopyButton.js
  src/components/DataTable/__tests__/TableToolbarAction-test.js
  src/components/DatePicker/DatePicker-story.js
  src/components/DatePickerInput/DatePickerInput.js
  src/components/FileUploader/FileUploader.js
  src/components/Modal/Modal.js
  src/components/Notification/Notification-test.js
  src/components/Notification/Notification.js
  src/components/NumberInput/NumberInput.js
  src/components/OverflowMenu/OverflowMenu.js
  src/components/RadioTile/RadioTile.js
  src/components/Tabs/Tabs.js
  src/components/Tile/Tile.js
  src/components/TimePickerSelect/TimePickerSelect.js
  src/components/Tooltip/Tooltip.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2020 fix(Notification): match experimental spec
  .yarn-offline-mirror/@carbon-icon-helpers-0.0.1-alpha.32.tgz
  .yarn-offline-mirror/@carbon-icon-helpers-0.0.1-beta.2.tgz
  .yarn-offline-mirror/@carbon-icons-react-0.0.1-alpha.32.tgz
  .yarn-offline-mirror/@carbon-icons-react-0.0.1-beta.2.tgz
  .yarn-offline-mirror/carbon-components-9.84.14.tgz
  .yarn-offline-mirror/carbon-components-9.84.16.tgz
  package.json
  src/components/Notification/Notification-test.js
  src/components/Notification/Notification.js
  src/components/UIShell/__tests__/__snapshots__/HeaderMenuButton-test.js.snap
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2044 chore(Button): remove danger--primary from v10 demo
  src/components/Button/Button-story.js
  src/components/Button/migrate-to-10.x.md
Labels: status: ready for review :eyes:

#2034 fix(Slider): add proper support for disabled state
  src/components/Slider/Slider-story.js
  src/components/Slider/Slider.js
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2030 fix(Select): match experimental spec
  .yarn-offline-mirror/carbon-components-9.84.16.tgz
  .yarn-offline-mirror/carbon-components-9.84.21.tgz
  package.json
  src/components/Select/Select.js
  yarn.lock
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2047 fix(Tooltip): support click-to-open with no-icon scenario
  src/components/Tooltip/Tooltip-story.js
  src/components/Tooltip/Tooltip.js
Labels: status: ready for review :eyes:

#2060 fix(Checkbox): match experimental spec
  package.json
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2056 feat(data-table): add renderIcon to TableBatchAction
  src/components/DataTable/TableBatchAction.js
  src/components/DataTable/__tests__/TableBatchAction-test.js
Labels: status: one more review :eyes:

#2057 Audit: Pagination fixes (react)
  src/components/PaginationV2/PaginationV2.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, v10 :new:

#2031 test(components): support v10 code
  .yarn-offline-mirror/carbon-components-9.85.0.tgz
  config/jest/experimental.js
  package.json
  src/components/AccordionItem/AccordionItem-test.js
  src/components/Button/Button-test.js
  src/components/CopyButton/CopyButton-test.js
  src/components/DangerButton/DangerButton-test.js
  src/components/DatePicker/DatePicker-test.js
  src/components/FileUploader/FileUploader-test.js
  src/components/Modal/Modal-test.js
  src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
  src/components/Notification/Notification-test.js
  src/components/Notification/Notification.js
  src/components/NumberInput/NumberInput-test.js
  src/components/NumberInput/NumberInput.js
  src/components/OverflowMenu/OverflowMenu-test.js
  src/components/OverflowMenu/OverflowMenu.js
  src/components/PaginationV2/PaginationV2-test.js
  src/components/PaginationV2/PaginationV2.js
  src/components/PrimaryButton/PrimaryButton-test.js
  src/components/ProgressIndicator/ProgressIndicator.js
  src/components/RadioButton/RadioButton-test.js
  src/components/RadioTile/RadioTile-test.js
  src/components/Search/Search-test.js
  src/components/SearchFilterButton/SearchFilterButton-test.js
  src/components/SearchLayoutButton/SearchLayoutButton-test.js
  src/components/SecondaryButton/SecondaryButton-test.js
  src/components/Select/Select-test.js
  src/components/Select/Select.js
  src/components/Slider/Slider-test.js
  src/components/Switch/Switch-test.js
  src/components/Tabs/Tabs-test.js
  src/components/Tile/Tile-test.js
  src/components/Tooltip/Tooltip-test.js
  yarn.lock
Labels: status: ready for review :eyes:

#2065 Fix tooltip a11y issue
  src/components/Tooltip/Tooltip.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2036 fix(TextArea): match experimental spec
  .yarn-offline-mirror/carbon-components-9.84.21.tgz
  .yarn-offline-mirror/carbon-components-9.85.0.tgz
  .yarn-offline-mirror/carbon-components-9.85.6.tgz
  package.json
  src/components/TextArea/TextArea.js
  yarn.lock
Labels: status: blocked 🙅‍♀️, status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2054 feat(breadcrumb): add support for current page
  src/components/Breadcrumb/Breadcrumb-story.js
  src/components/Breadcrumb/Breadcrumb-test.js
  src/components/Breadcrumb/Breadcrumb.js
  src/components/Breadcrumb/BreadcrumbItem.js
  src/components/Breadcrumb/__tests__/Breadcrumb-test.js
  src/components/Breadcrumb/__tests__/Breadcrumb.Skeleton-test.js
  src/components/Breadcrumb/__tests__/__snapshots__/Breadcrumb-test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/Breadcrumb.Skeleton-test.js.snap
  src/components/Breadcrumb/index.js
  src/components/BreadcrumbItem/BreadcrumbItem.js
  src/components/BreadcrumbItem/index.js
  src/index.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2067 fix(Button): add disabled state for other nodes
  .yarn-offline-mirror/carbon-components-9.85.6.tgz
  .yarn-offline-mirror/carbon-components-9.86.0.tgz
  package.json
  src/components/Button/Button-story.js
  src/components/Button/Button.js
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: visual review :eyes:

#2075 chore(code-snippet): add margin to seperate skeletons
  src/components/CodeSnippet/CodeSnippet-story.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2077 chore(tabs): add padding in tabs to content story
  .yarn-offline-mirror/carbon-components-9.86.0.tgz
  .yarn-offline-mirror/carbon-components-9.87.2.tgz
  package.json
  src/components/Tabs/Tabs-story.js
  yarn.lock
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2062 fix: deprecate the appendTo prop in date picker
  src/components/DatePicker/DatePicker.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2069 Pagination screen reader tweak
  src/components/Pagination/Pagination-story.js
  src/components/PaginationV2/PaginationV2.js
Labels: status: merge conflict :no_entry_sign:, status: ready for review :eyes:, type: a11y ♿, v10 :new:

#2084 fix(progressIndicatorSkeleton): Update html to fix styling
  src/components/ProgressIndicator/ProgressIndicator.Skeleton.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2085 refactor(Slider): replace Carbon TextInput
  src/components/Slider/Slider.js
Labels: status: one more review :eyes:

#2092 docs: add rtl addon
  .storybook/addons.js
  .storybook/config.js
  .yarn-offline-mirror/@emotion-is-prop-valid-0.7.3.tgz
  .yarn-offline-mirror/@emotion-memoize-0.7.1.tgz
  .yarn-offline-mirror/@emotion-unitless-0.7.3.tgz
  .yarn-offline-mirror/babel-plugin-styled-components-1.10.0.tgz
  .yarn-offline-mirror/babel-plugin-syntax-jsx-6.18.0.tgz
  .yarn-offline-mirror/camelize-1.0.0.tgz
  .yarn-offline-mirror/css-color-keywords-1.0.0.tgz
  .yarn-offline-mirror/css-to-react-native-2.3.0.tgz
  .yarn-offline-mirror/memoize-one-5.0.0.tgz
  .yarn-offline-mirror/prop-types-15.7.2.tgz
  .yarn-offline-mirror/react-is-16.8.5.tgz
  .yarn-offline-mirror/storybook-addon-rtl-0.2.2.tgz
  .yarn-offline-mirror/styled-components-4.2.0.tgz
  .yarn-offline-mirror/stylis-3.5.4.tgz
  .yarn-offline-mirror/stylis-rule-sheet-0.0.10.tgz
  package.json
  yarn.lock
Labels: status: one more review :eyes:, status: ready for review :eyes:

#2083 feat(DataTable): Add sorting params to header onClick callback
  package.json
  src/components/DataTable/DataTable.js
Labels: status: one more review :eyes:

#2095 fix(SkeletonText): support SSR
  src/components/SkeletonText/SkeletonText.js
Labels: status: one more review :eyes:

#2099 chore: format GitHub issue templates and update snapshots
  .github/ISSUE_TEMPLATE/accessibility-issue--.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: status: ready for review :eyes:

#2105 docs(migration): misc updates
  docs/migration/migrate-to-7.x.md
  src/components/DatePicker/DatePicker.js
  src/components/DatePicker/migrate-to-7.x.md
  src/components/OverflowMenu/migrate-to-7.x.md
  src/components/OverflowMenuItem/migrate-to-10.x.md
  src/components/OverflowMenuItem/migrate-to-7.x.md
  src/components/RadioButton/migrate-to-7.x.md
  src/components/Slider/migrate-to-7.x.md
  src/components/Tag/migrate-to-7.x.md
  src/components/Tooltip/migrate-to-7.x.md
Labels: status: ready for review :eyes:

#2104 chore(Icon): remove name prop for v10
  src/components/Icon/Icon.js
Labels: status: ready for review :eyes:

#2093 fix(DropdownV2): match experimental spec
  .yarn-offline-mirror/carbon-components-9.87.2.tgz
  .yarn-offline-mirror/carbon-components-9.90.9.tgz
  package.json
  src/components/DropdownV2/DropdownV2-story.js
  src/components/DropdownV2/DropdownV2.js
  src/components/DropdownV2/__snapshots__/DropdownV2-test.js.snap
  src/components/ListBox/ListBox.js
  src/components/ListBox/ListBoxMenuItem.js
  yarn.lock
Labels: status: ready for review :eyes:, status: visual review :eyes:

#2096 fix(modal): make modal a focus trap
  .yarn-offline-mirror/focus-trap-4.0.2.tgz
  .yarn-offline-mirror/focus-trap-react-6.0.0.tgz
  .yarn-offline-mirror/tabbable-3.1.2.tgz
  package.json
  src/components/Modal/Modal-test.js
  src/components/Modal/Modal.js
  src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
  yarn.lock
Labels: type: a11y ♿

#2115 chore(pagination): use en dash instead of hyphen
  src/components/PaginationV2/PaginationV2-test.js
  src/components/PaginationV2/PaginationV2.js
Labels: status: failing tests :no_good_man:

#2121 docs(Search): make input value editable
  src/components/Search/Search-story.js
  src/components/Search/Search.js
Labels: status: ready for review :eyes:

#2129 add story for pagination
  src/components/Pagination/Pagination-story.js
Labels: type: dev :robot:, v10 :new:
