Repository carbon-design-system/carbon-components-react, pull requests merged in 2019-02, with the labels that each got.

#1654 feat(NumberInput): add experimental NumberInput
  src/components/FormItem/FormItem-story.js
  src/components/NumberInput/NumberInput.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1813 fix(ui-shell): improve keyboard accessibility
  src/components/UIShell/HeaderMenu.js
  src/components/UIShell/HeaderMenuItem.js
  src/components/UIShell/HeaderNavigation.js
  src/components/UIShell/__tests__/__snapshots__/HeaderMenu-test.js.snap
  src/components/UIShell/__tests__/__snapshots__/HeaderMenuItem-test.js.snap
Labels: a11y: keyboard ⌨️, project: ui shell, status: WIP 👩‍💻, status: failing tests :no_good_man:, status: ready for review :eyes:, type: a11y

#1816 fix(ui-shell): handle keydown enter on nested menuitems
  src/components/UIShell/HeaderMenu.js
  src/components/UIShell/HeaderMenuItem.js
  src/components/UIShell/__tests__/__snapshots__/HeaderMenu-test.js.snap
Labels: status: one more review :eyes:

#1812 docs(OverflowMenu): highlight floatingMenu and primaryFocus
  src/components/OverflowMenu/README.md
Labels: status: ready for review :eyes:

#1809 docs(Storybook): more detailed doc for using our Storybook
  README.md
  docs/components.md
Labels: status: ready for review :eyes:

#1784 fix(tab-content): add prefix to content classname
  src/components/Tabs/Tabs-test.js
  src/components/Tabs/Tabs.js
Labels: status: one more review :eyes:

#1818 fix(radiobuttongroup): custom class should merge with base class
  src/components/RadioButtonGroup/RadioButtonGroup-test.js
  src/components/RadioButtonGroup/RadioButtonGroup.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1802 feat(ListBoxMenuIcon): support translatable SVG icon title
  src/components/ListBox/ListBoxMenuIcon.js
  src/components/MultiSelect/MultiSelect-story.js
  src/components/MultiSelect/MultiSelect.js
Labels: status: ready for review :eyes:

#1821 AccordionSkeleton: Properties added
  src/components/Accordion/Accordion-story.js
  src/components/Accordion/Accordion-test.js
  src/components/Accordion/Accordion.Skeleton.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1797 docs(examples): usage of react-router, resolves #795
  examples/react-router/.gitignore
  examples/react-router/README.md
  examples/react-router/package.json
  examples/react-router/public/favicon.ico
  examples/react-router/public/index.html
  examples/react-router/public/manifest.json
  examples/react-router/src/App.js
  examples/react-router/src/App.scss
  examples/react-router/src/App.test.js
  examples/react-router/src/index.css
  examples/react-router/src/index.js
  examples/react-router/src/serviceWorker.js
  examples/react-router/yarn.lock
Labels: status: one more review :eyes:

#1787 fix(components): avoid being shown as ForwardRef
  src/components/Checkbox/Checkbox.js
  src/components/Select/Select.js
  src/components/TextInput/TextInput.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1726 feat(ProgressIndicator): add experimental progress indicator
  src/components/ProgressIndicator/ProgressIndicator-story.js
  src/components/ProgressIndicator/ProgressIndicator.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1826 docs(g11n): notes of globalization
  docs/g11n.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1840 fix(Slider): remove redundant updatePosition() call
  src/components/Slider/Slider.js
Labels: status: one more review :eyes:

#1846 fix(Tabs): re-implement tab-content classname
  src/components/Tabs/Tabs.js
Labels: status: one more review :eyes:, type: dev :robot:, type: discussion 💬

#1849 fix(MultiSelect): fixed translateWithId prop-type, resolves #1847
  src/components/MultiSelect/MultiSelect.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1856 feat(Notification): allow composable notification content
  src/components/Notification/Notification-story.js
  src/components/Notification/Notification.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1822 feat(OverflowMenu): add arrow key navigation
  src/components/OverflowMenu/OverflowMenu-story.js
  src/components/OverflowMenu/OverflowMenu.js
  src/components/OverflowMenuItem/OverflowMenuItem.js
Labels: a11y: keyboard ⌨️, status: one more review :eyes:, status: ready for review :eyes:

#1824 feat(DataTable): support radio button selection
  src/components/DataTable/DataTable-story.js
  src/components/DataTable/DataTable.js
  src/components/DataTable/TableSelectRow.js
  src/components/DataTable/__tests__/DataTable-test.js
  src/components/DataTable/__tests__/__snapshots__/DataTable-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableSelectAll-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableSelectRow-test.js.snap
  src/components/DataTable/stories/with-selection--radio.js
  src/components/InlineCheckbox/InlineCheckbox.js
  src/components/RadioButton/RadioButton.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1848 fix(ui-shell): add aria label to sidenav with complimentary landmark
  src/components/UIShell/SideNav.js
  src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
Labels: a11y: aat :white_check_mark:, a11y: screen reader :ear:, priority: medium, status: ready for review :eyes:

#1841 fix(NumberInput): add aria attributes for a11y
  src/components/NumberInput/NumberInput-story.js
  src/components/NumberInput/NumberInput.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, type: a11y

#1858 fix: (DataTable): filter without boolean column"
  src/components/DataTable/DataTable-story.js
  src/components/DataTable/stories/with-boolean-column.js
  src/components/DataTable/tools/filter.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1855 feat(Tabs): allow custom className for `<TabContent>`
  src/components/Tabs/Tabs-story.js
  src/components/Tabs/Tabs-test.js
  src/components/Tabs/Tabs.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1862 feat(DataTableSkeleton): add optional headers property
  src/components/DataTableSkeleton/DataTableSkeleton-story.js
  src/components/DataTableSkeleton/DataTableSkeleton-test.js
  src/components/DataTableSkeleton/DataTableSkeleton.js
Labels: status: one more review :eyes:

#1872 fix: run prettier to fix issues with new md docs
  .github/ISSUE_TEMPLATE/accessibility-issue--.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: status: one more review :eyes:

#1792 fix(TableExpandRow): pass headers value to fix a11y violation
  src/components/DataTable/TableExpandRow.js
  src/components/DataTable/__tests__/__snapshots__/TableExpandRow-test.js.snap
Labels: status: one more review :eyes:

#1873 chore(Tooltip): deprecate non-click-to-open in regular tooltip
  src/components/Tooltip/Tooltip-story.js
  src/components/Tooltip/Tooltip.js
  src/internal/FeatureFlags.js
Labels: status: ready for review :eyes:

#1881 fix(overflowMenu): include iconProps for CarbonX version
  src/components/OverflowMenu/OverflowMenu.js
Labels: status: one more review :eyes:

#1838 feat: support experimental icon strategy
  src/components/Accordion/Accordion.Skeleton.js
  src/components/AccordionItem/AccordionItem.js
  src/components/Button/Button-story.js
  src/components/CodeSnippet/CodeSnippet.js
  src/components/ComposedModal/ComposedModal.js
  src/components/ContentSwitcher/ContentSwitcher-story.js
  src/components/CopyButton/CopyButton.js
  src/components/DataTable/TableExpandRow.js
  src/components/DataTable/TableHeader.js
  src/components/DataTable/TableToolbarAction.js
  src/components/DataTable/stories/default.js
  src/components/DataTable/stories/with-batch-actions.js
  src/components/DataTable/stories/with-dynamic-content.js
  src/components/DataTable/stories/with-toolbar.js
  src/components/DatePickerInput/DatePickerInput.js
  src/components/FileUploader/FileUploader.js
  src/components/ListBox/ListBoxMenuIcon.js
  src/components/ListBox/ListBoxSelection.js
  src/components/Modal/Modal.js
  src/components/Notification/Notification.js
  src/components/OverflowMenu/OverflowMenu.js
  src/components/PaginationV2/PaginationV2.js
  src/components/ProgressIndicator/ProgressIndicator.js
  src/components/RadioTile/RadioTile.js
  src/components/Search/Search.js
  src/components/SearchFilterButton/SearchFilterButton.js
  src/components/SearchLayoutButton/SearchLayoutButton.js
  src/components/Select/Select.js
  src/components/Tabs/Tabs.js
  src/components/Tile/Tile.js
  src/components/TimePickerSelect/TimePickerSelect.js
  src/components/ToolbarSearch/ToolbarSearch.js
  src/components/Tooltip/Tooltip.js
  src/components/TooltipIcon/TooltipIcon-story.js
  src/components/UIShell/HeaderMenu.js
  src/components/UIShell/HeaderMenuButton.js
  src/components/UIShell/SideNavFooter.js
  src/components/UIShell/SideNavMenu.js
  src/components/UIShell/SideNavSwitcher.js
  src/components/UIShell/UIShell-story.js
  src/components/UIShell/__tests__/HeaderGlobalAction-test.js
  src/components/UIShell/__tests__/HeaderMenuButton-test.js
Labels: project: components, status: one more review :eyes:, status: ready for review :eyes:, type: dev :robot:, v10 :new:

#1882 fix(Tooltip): ensure debounce function is cleaned-up
  src/components/Tooltip/Tooltip.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1875 docs(experimental): update instruction to change feature flags
  docs/experimental.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1874 docs(build): update instruction on building carbon-coponents style
  docs/carbon-components.md
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1887 fix(Modal): NPE check for focusable element ref
  src/components/Modal/Modal.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1884 chore: bump icons dependency to fix experimental Tooltip positioning
  .yarn-offline-mirror/@carbon-icon-helpers-0.0.1-alpha.26.tgz
  .yarn-offline-mirror/@carbon-icon-helpers-0.0.1-alpha.32.tgz
  .yarn-offline-mirror/@carbon-icons-react-0.0.1-alpha.26.tgz
  .yarn-offline-mirror/@carbon-icons-react-0.0.1-alpha.32.tgz
  package.json
  yarn.lock
Labels: status: ready for review :eyes:

#1814 Tooltip with custom icon
  .yarn-offline-mirror/react-is-16.8.2.tgz
  package.json
  scripts/rollup.config.js
  src/components/Tooltip/Tooltip-story.js
  src/components/Tooltip/Tooltip-test.js
  src/components/Tooltip/Tooltip.js
  yarn.lock
Labels: status: non-trivial review, status: ready for review :eyes:

#1894 feat(DataTable): custom classes support for TableSelectAll and TableSelectRow
  src/components/DataTable/TableSelectAll.js
  src/components/DataTable/TableSelectRow.js
  src/components/DataTable/__tests__/TableSelectAll-test.js
  src/components/DataTable/__tests__/TableSelectRow-test.js
  src/components/DataTable/__tests__/__snapshots__/TableSelectAll-test.js.snap
  src/components/DataTable/__tests__/__snapshots__/TableSelectRow-test.js.snap
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1900 fix(DropdownV2): uses strict equality operator to know if item is highlighted, resolves #1898
  src/components/DropdownV2/DropdownV2.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1902 fix(ToggleSmall): replace `class` prop with `className`
  src/components/ToggleSmall/ToggleSmall-story.js
  src/components/ToggleSmall/ToggleSmall.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1891 feat(Button): allows button to render arbitrary component as its root
  src/components/Button/Button-story.js
  src/components/Button/Button-test.js
  src/components/Button/Button.js
  src/components/ModalWrapper/__snapshots__/ModalWrapper-test.js.snap
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1606 chore(components): remove deprecated components
  .storybook/webpack.config.js
  README.md
  config/jest/setup.js
  package.json
  src/components/Dropdown/Dropdown-story.js
  src/components/Dropdown/Dropdown-test.js
  src/components/Dropdown/Dropdown.js
  src/components/DropdownItem/DropdownItem-test.js
  src/components/DropdownItem/DropdownItem.js
  src/components/Pagination/Pagination-story.js
  src/components/Pagination/Pagination-test.js
  src/components/Pagination/Pagination.js
  src/components/Table/Table-story.js
  src/components/Table/Table-test.js
  src/components/Table/Table.js
  src/components/TableBody/TableBody-test.js
  src/components/TableBody/TableBody.js
  src/components/TableData/TableData-test.js
  src/components/TableData/TableData.js
  src/components/TableHead/TableHead-test.js
  src/components/TableHead/TableHead.js
  src/components/TableHeader/TableHeader-test.js
  src/components/TableHeader/TableHeader.js
  src/components/TableRow/TableRow-test.js
  src/components/TableRow/TableRow.js
  src/components/TableRowExpanded/TableRowExpanded-test.js
  src/components/TableRowExpanded/TableRowExpanded.js
  src/components/TooltipSimple/TooltipSimple-story.js
  src/components/TooltipSimple/TooltipSimple-test.js
  src/components/TooltipSimple/TooltipSimple.js
  src/internal/FeatureFlags.js
Labels: status: one more review :eyes:, status: waiting for reviewer's response

#1903 fix(OverflowMenu): check menu body and click handler event origin
  src/components/OverflowMenu/OverflowMenu.js
  src/components/Toolbar/Toolbar-story.js
Labels: status: ready for review :eyes:

#1910 docs(Button): add example with custom link component as root
  src/components/Button/Button-story.js
Labels: status: ready for review :eyes:

#1788 fix(Checkbox): ensure indeterminate DOM property is set
  src/components/Checkbox/Checkbox-test.js
  src/components/Checkbox/Checkbox.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1793 feat(MultiSelect): add open prop
  src/components/MultiSelect/FilterableMultiSelect.js
  src/components/MultiSelect/MultiSelect.js
  src/components/MultiSelect/__tests__/FilterableMultiSelect-test.js
  src/components/MultiSelect/__tests__/MultiSelect-test.js
  src/components/MultiSelect/__tests__/__snapshots__/FilterableMultiSelect-test.js.snap
  src/components/MultiSelect/__tests__/__snapshots__/MultiSelect-test.js.snap
Labels: status: one more review :eyes:, status: waiting for reviewer's response

#1914 chore(Storybook): add knob for danger in ModalWrapper
  src/components/ModalWrapper/ModalWrapper-story.js
Labels: status: one more review :eyes:, status: ready for review :eyes:

#1865 fix(Toggle): hide on/off test for screen readers
  src/components/Toggle/Toggle.js
Labels: status: one more review :eyes:, status: ready for review :eyes:, status: waiting for reviewer's response

#1928 chore(tag): fix class name
  src/components/Tag/Tag-story.js
  src/components/Tag/Tag.js
Labels: status: one more review :eyes:, status: ready for review :eyes:
